body{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
#banner{
  object-fit: cover;
  height:30vw;
  width: 95vw;
}
@media (max-width: 768px) {
  #banner {
    height: 60vw; /* Make the image smaller on mobile devices */
  }
}
h1, h2{
  color: rgb(80,80,80);
}


