<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jovian Careers</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
  <h1 id = 'title'>Jovian Careers</h1>
  <div class = 'image'>
  <!-- <img src = "/static/images/banner.jpg"> -->
  </div>

  </header>
  
  <main>
  <h2 class = "subheading"">About Jovian</h2>
  <p class='text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde incidunt ipsa cum excepturi quod explicabo dicta, eveniet voluptatem ad corporis accusamus consequuntur illum temporibus aliquam eligendi. Consectetur sequi ea fuga!
  Consequuntur saepe debitis omnis quaerat molestias quisquam ea aliquid minima, odit fuga dicta sapiente adipisci praesentium est, perspiciatis amet ex accusantium voluptates nam odio tempore nobis nihil architecto libero? Libero.</p>
  <h2 class='subheading''>Open Positions</h2>
  <p class='text'>TODO - Show the jobs here</p>
    <h2 class='subheading''>Contact Us</h2>
  <p class='text'>@Copyright 2024, Made By Mr. Anas</p>
  </main>
</body>
</html>